name: Ruby CI (Build & Test)

# Workflow triggers
on:
  pull_request:
    branches: [ main, development ]
  push:
    branches: [ main, development ]

  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout source code
        uses: actions/checkout@v4

      # Install Ruby
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.3'
          bundler-cache: true  # cacher gems automatically for faster builds

      # Install dependencies (hvis bundler-cache ikke bruges)
      - name: Install gems
        run: bundle install

      # Run  tests
      - name: Run tests
        run: bundle exec rspec # RSpec = test framework for Ruby