<!-- Frontpage -->

<!-- Frontpage from of GET / - Root/Search page on localhost:4567 -->

<form action="/search" method="get">
  <input type="text" name="q" placeholder="Søg..." required>
  <select name="language">
    <option value="en">English</option>
  </select>
  <button type="submit">Søg</button>
</form>