<!-- Base template, HTML-wrapper (header, CSS links) -->

<!DOCTYPE html>
<html>
<head>
  <title>WhoKnows</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%= yield %>
</body>
</html>
